@import "variables.css";


/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*===  BASE ============================ */
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  background-color: var(--logo-color1);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
}

.button:hover {
  background: var(--logo-color2);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1),
    hsla(var(--hue), 65%, 88%, 0.34)
  );
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue), 36%, 57%, 1)
  );
}

/*====  LAYOUT ============================ */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding:calc(5rem  + var(--header-height)) 0;
}

.section .title {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

.section header {
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--base-color);
}

#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}



/*====  LOGO ============================ */
.logo {
  font: 700 1.31rem var(--title-font);
  color: var(--logo-color1);
}

.logo span {
  color: var(--logo-color2);
}

.logo-alt span {
  color: var(--body-color);
}

/*====  NAVIGATION ============================ */
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--logo-color1);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--logo-color2);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a .active::after {
  width: 100%;
}

nav .menu {
  opacity: 1;
  visibility: visible;
  top: 0rem;
}

nav .menu ul {
  display: flex;
  gap: 2rem;
}

nav .menu ul li a.title{
  font: 400 1rem var(--body-font);
-webkit-font-smoothing: antialiased;
}

/*====  HOME ============================ */
#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
}


/* ======================= reserva-sl-slS ======================== */
#reserva-sl {

  overflow: hidden;
  /* font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
}

#reserva .container {
  margin: 0;
}

#reserva .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

  h2 {
    margin-bottom: 20px;
  
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }

  .form-group {
    margin-bottom: 1rem;
    text-align: center;
  }

  input[type="date"],
  input[type="number"] {
    height: 3.5rem;
    min-width: 12rem;
    max-width: 12rem;
    margin-top: 1rem;
    display: inline-flex;
    align-items: center;
    padding: 0 2rem;
    font: 500 1rem var(--body-font);
    outline: none;
    border: solid #69B99D 0.1rem;
    border-radius: 0.3rem;

}

  input[type="number"]::-webkit-inner-spin-button{
    display: none;
  }


input[type="number"]::placeholder{
  list-style: none;
  text-align: center;
}

.button {
  margin-top: 1rem;
  border: none;
  min-width: 12rem;
  justify-content: center;
}

/*====  reserva-sl-sl ============================ */ 

  #reserva-sl .container{
  grid-auto-flow: column;
}

  #reserva-sl .grid{
    gap: 4rem;
  }
  
  #reserva-sl .text{
    max-width: 25rem;
    align-items: center;
  }
  
  #reserva-sl .button i,
  #reserva-sl ul li i {
    font-size: 1.5rem;
    margin-right: 0.625rem;
  }
  
  #reserva-sl ul.grid {
    gap: 2rem;
  }
  #reserva-sl ul li {
    display: flex;
    align-items: center;
  
  }
  
  #reserva-sl ul li i {
    color: var(--logo-color1);
  }

  #reserva-sl .button {
    min-width: 28rem;
  }

  /*==== FOOTER ============================ */
footer {
  background: var(--base-color);
}

footer .section {
  padding: 4rem 0;
}

footer .logo{
    display: inline-block;
    margin-bottom: 1.5rem;
}

footer .logo span {
  color: var(--text-color-light);
}

footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
}
footer i {
  font-size: 1.5rem;
  color: var(--text-color-light);
}

footer .social a {
 margin-right: 2rem;
 transition: .3s;
 display: inline-block;
}

footer .social a:hover {
transform: translateY(-15px);
}

  






